nav {
    background-color: #CC7178;
    border-radius: 10px;
}

a {
    color: #F9EBE0;
}

.nobulletpoints {
    list-style-type: none;
}

.nobulletpoints li {
    list-style-type: none;
    display: inline-flex;
}

header {
    background-color: #72A276;
    height: 400px;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
}

h1 {
    color: #101911;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}


p {
    width: 100%;
   margin-top: 30px;
   margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.stopwatch-circle {
    background-color:#F9EBE0;
    border: 3px dashed #CC7178;
    padding: 50px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#timer-display {
    font-size: 21px;
    font-weight: bold;
    color: #CC7178;
    white-space: nowrap;
}

#timer-button {
    border: none;
    background-color: transparent;
    font-size: 60px;
    color:#CC7178;
}

#timer-button:hover {
    color:#fba7ae;
}

.reset-save-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    width: 100%;
}

.reset-save-container button {
    border: none;
    background-color: #CC7178;
    color: #F9EBE0;
    border-radius: 8px;
}

.reset-save-container button:hover {
    background-color: #F9EBE0;
    color: #CC7178;
}
