* {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  margin: auto;
}

.navbar-nav .nav-item .nav-link {
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main-body {
  /* width: 90%; */
  height: 100vh;
  display: flex;
  flex-direction: column;

  /* background-color: pink; */
}
.text-center {
  flex-direction: column;
  padding-top: 2%;
}
.text-center2 {
  display: block;
  flex-direction: column;
}
.imgAndText {
  margin-top: 2%;
  display: flex;
}
.image {
  display: flex;
  justify-content: flex-start;
}
.para {
  display: flex;
  justify-content: flex-end;
}
.text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 600px) {
  /* Adjusting image size */
}
